# https://caddyserver.com/docs/caddyfile
{

  # Let's Encrypt
  email dns@nonfiction.ca 

  # Disabled on-demand certificates
  # I don't think we need this, but leaving configuration for reference
  # on_demand_tls {
  #   interval 5s
  #   burst 1
  # }

  # Default logging
  log

  # Enable proxy protocol
  # https://github.com/mastercactapus/caddy2-proxyprotocol
  servers {
    listener_wrappers {
      proxy_protocol {

        # Only allow from private 10.x.x.x IP addresses (the load balancer)
        allow 10.0.0.0/8

      }
      tls
    }
  }

}

# Default address required
:80, :443, localhost, <%= $(bin/get lb) %> {
  respond "<%= $(bin/get lb) %>"
}

# Import configuration for each website
import /config/*/Caddyfile
