{

  email dns@nonfiction.ca 
  # on_demand_tls {
  #   interval 5s
  #   burst 1
  # }

  servers {
    listener_wrappers {
      proxy_protocol
      tls
    }
  }

}

:80, :443, localhost, <%= $(bin/get lb) %> {
  respond "<%= $(bin/get lb) %>"
}
 
import /config/*/Caddyfile
